* {
    font-family: "Protest Guerrilla", sans-serif;
    color: #523249;
    text-transform: uppercase !important;
}

body {
    background: linear-gradient(to right, #cbd4c2, #523249) !important;
    /* De azul a verde */
    height: 100%;
    /* Altura completa de la ventana */
    margin: 0;
    /* Eliminar margen por defecto */
    color: white;
    /* Color del texto */
    font-family: Arial, sans-serif;
}

.navbarcontainer {
    background-color: #8b7271;
}

.inicio {

    display: inline-block;
    text-decoration: none;
}

.titulo {
    display: flex;
    font-size: 6000;
    color: #523249;
    text-transform: uppercase;
    background-color: #dbebc0;
    width: 20%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    margin-bottom: 25px;
    margin-top: 20px;
    border: solid #523249
}


.menu {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    color: blue;
    font-family: "Poppins", sans-serif;
    list-style: none;
    gap: 10%;
    margin-bottom: 100px;
}

.habitacion {
    display: flex;
    font-size: 60px;
    text-transform: uppercase;
    background-image: url(../images/habitacion.jfif);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border: solid #523249;
    align-items: center;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
}

.baño {
    display: flex;
    font-size: 60px;
    text-transform: uppercase;
    background-image: url(../images/baño.avif);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border: solid #523249;
    align-items: center;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);

}

.cocina {
    display: flex;
    font-size: 60px;
    text-transform: uppercase;
    background-image: url(../images/cocina.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border: solid #523249;
    align-items: center;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);

}




.contenedor {
    display: flex;
   flex-direction: row;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: 5%;
   margin-right: 5%;
   gap: 10px;
   width: 90%;
   height: 50vh;
}





.promos {

    display: flex;
    justify-content: center;

}


.formulario {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    border: solid black;
    background: white;

}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;

}

form .username {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #adadad;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.promos-container {
    width: 90%;
    height: 80vh;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;


}


.promos-parte-uno {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.promos-parte-dos {

    width: 50%;

}

.promos-parte-uno .caja-uno {
    height: 50%;
    width: 100%;

}

.promos-parte-uno .caja-uno img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    border: solid #523249
}

.promos-parte-uno .caja-dos img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    border: solid #523249
}

.promos-parte-uno .caja-dos {
    height: 50%;
    width: 100%;
}

.promos-parte-dos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    border: solid #523249
}

.menuham {
    margin-bottom: 60px;
    text-transform: uppercase !important;
}

.nav-item {
    color: red;
}

.index-contenedor {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
    height: 50vh;
    gap: 20px;


}
.mapa {
   
        width: 100%;
    }
    
    .video {
    
        width: 100%;
    }
    

@media(max-width:991px) {
    .promos-container {
        flex-direction: column;
        gap: 10px;
    }

    .promos-parte-uno {
        width: 100%;

    }

    .promos-parte-dos {
        width: 100%;
    }

    .titulo {
        width: 300px;
    }
.index-contenedor { 
    flex-direction: column;
}

.mapa{ 
    width: 100%;
}

.video {
    width: 100%;
}
.contenedor{
    flex-direction: column;
    height: 100vh;
}
   
}






.mimapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    border: solid #523249
}

.mivideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    -webkit-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    box-shadow: 8px 10px 5px -1px rgba(0, 0, 0, 0.42);
    border: solid #523249
}